.app-name, .workout-text, .rest-text, #units{
    color: #493A1C;
}

.byline{
    color: #009790;
}

#title{
    margin: 10px;
}

form{
    width: fit-content;
    margin: 10px auto;
}

.display{
    width: fit-content;
    margin: 10px auto;
    text-align: center;
    margin-bottom: 2em;
}

.timer{
    margin: 10px auto;
}

#headingOne{
    text-align: center;
    padding: 3px 5px;
}

#startTimer-btn, #reset-btn, #pause-btn, #submit-btn{
    background-color: #FF805C;
    border-color: #FF805C;
    color: #FFFFFF;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition-property: color, background-color, border-color, box-shadow;
    transition-duration: 0.15s, 0.15s, 0.15s, 0.15s;
    transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
    transition-delay: 0s, 0s, 0s, 0s;
}

#btn-link{
    color:#FF805C;
}

#workoutInterval-display{
    font-size: 2em;
    margin: 10px auto;
    margin-bottom: 0px;
    border-radius: 10px;
}

#restInterval-display{
    font-size: 2em;
    margin: 10px auto;
    margin-bottom: 0px;
    border-radius: 10px;
}

.active{
    color: #493A1C;
    border: 1px solid #009790;
}

.inactive{
    background-color: #DDDDDD;
    color:darkgrey;
    border: 1px solid #DDDDDD;
}

#workout-warning, #rest-warning{
    font-size: 0.75em;
    margin-bottom: 5px;
}

.btn{
    padding: 3px 6px !important;
}

.btn:hover{
    opacity: .9;
    transform: scale(1.05);
}

.workout-input{
    padding: 1px;
    font-size: 2em;
    text-align: center;
    max-width: 200px;
    border-radius: 10px;
    color: #493A1C;
}

.rest-input{
    padding: 1px;
    font-size: 2em;
    text-align: center;
    max-width: 200px;
    border-radius: 10px;
    color: #493A1C;
}

.container{
    border-radius: 10px;
    padding: 20px;
    border: 1px solid #009790;
}

.display{
    margin: 10px auto;
}